.projects {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  color: #38556de0;
  font-size: 12rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.projects ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

.projects li {
  display: flex;
  justify-content: center;
  display: inline-block;
}