.projects {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  color: #38556de0;
  font-size: 8rem;
  text-align: center;
  margin-top: 200px;
}

.projects ul {
  text-align: center;
}

.projects li {
  display: inline-block;
}