.boldHeader {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    color: #38556de0;
    font-size: 12rem;
    display: flex;
    justify-content: center;
    text-align: center;
}